.main
{
    /* background-color: gray;
     padding: 10px;  */
    display: flex;
    height: 400px;

}

.s1
{  align-content: center;
    background-color: #ff7676;
    width: 40%;
    border: solid grey 10px;
}
.s2{ 
    background-color: grey; 
    width: 60%;
}
.s31
{  align-content: center;
    background-color: #ff9bf7;
    width: 50%;
    border: solid gray 5px;
    
}
.s4
{
    width: 50%;
    /* display: ; */
margin: auto;
}
.s41
{
    height: 50%;
    width: 98%;
    background-color: #9ba4ff;
    margin: 0;
    padding: 0%;
    /* border: solid grey 10px; */

}
.s42
{
    height: 50%;
    width: 98%;
    /* margin: -3%; */
    padding: 0%;
    background-color: #9ba4ff;
    border: solid grey ; 
    /* border-top: 10px; */
}
.s3{
display: flex;
    height: 43%;
}
.s21 {  align-content: center;
    height: 50%;
    height: 50%;
  background-color: #c2ff76;
  border: solid grey 10px;
    
}
h1
{
    padding: 0;
    margin: auto;
    text-align: center;
    padding: 22px;
}