*{
     margin: 50px; 
    
}
.container{
    border: solid black 2px;
    padding: 10px;
    height: 400px;
    width: 300px;
    overflow-y: scroll;
    
}

.container2{
    border: solid black 2px;
    padding: 10px;
    height: 400px;
    width: 300px;
    overflow-x: hidden;
    
}

.container3{
    border: solid black 2px;
    padding: 10px;
    height: 400px;
    width: 300px;
    text-overflow: ellipsis;
    
    
}